/*header*/
header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.logo {
  background-color: red;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: blue;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.logo:hover {
  background-color: #f7b900;
  transform: scale(1.05);
}

.logo > a {
  text-decoration: none;
  &:visited {
    color: blue;
  }
}

.team {
  background-color: red;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: blue;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.team:hover {
  background-color: #f7b900;
  transform: scale(1.05);
}

.team > a {
  text-decoration: none;
  &:visited {
    color: blue;
  }
}

/*main page css*/
main {
  text-align: center;
  margin-top: 50px;
}

.pokemon-types {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 70vh;
  width: 80%;
  margin: auto;
  padding: 0;
}

.card-item {
  list-style-type: none;
  width: auto;
  flex-grow: 1;
  height: auto;
  width: auto;
  min-width: 20%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  text-transform: capitalize;
  border: solid black 1px;
  margin: 1px;
  background-color: aquamarine;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.card-link::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.card-link:hover {
  transform: translateY(-5px);
}

.card-link:hover::before {
  transform: translateX(100%);
}

.card-link:hover {
  background-color: lightblue;
  color: white;
}

.card-link:visited {
  color: blue;
}

/*pokemon lists*/
.pokemons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  width: 80%;
  margin: auto;
  padding: 0;
}

.pokemon-card {
  list-style-type: none;
  width: auto;
  flex-grow: 1;
  height: auto;
  width: auto;
  min-width: 5%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  text-transform: capitalize;
  border: solid black 1px;
  margin: 1px;
  background-color: aquamarine;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.links::before {
  content: '';
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.links:hover {
  transform: translateY(-5px);
}

.links:hover::before {
  transform: translateY(100%);
}

.links:hover {
  background-color: lightblue;
  color: white;
}

.links:visited {
  color: blue;
}

/*configure page*/
form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type='text'],
input[type='checkbox'] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type='checkbox'] {
  display: inline-block;
  margin-right: 5px;
}

input[type='submit'] {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

input[type='submit']:hover {
  background-color: #45a049;
}

section.pokemon {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

section.pokemon p {
  margin: 10px 0;
}

section.pokemon img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

/*footer*/
footer {
  margin-top: 50px;
}
